
           
           
 </div><!-- /#page-wrapper -->

</div><!-- /#wrapper --> 

  </body>
#set ($has_text = false)
         <footer id="footer">
            <div class="wrapper">
                <div class="page-wrapper">
                    <div class="container">
#if ($rdf_link)
      <p class="pull-right">View: <a href="$rdf_link?output=ttl">As Turtle</a> |
      <a href="$rdf_link?output=xml">As RDF/XML</a></p>
#set ($has_text = true)
#end 
#if ($sparql_endpoint)
      <p>This page shows information obtained from COEUS SPARQL endpoint at <a class="sparql-uri" href="$sparql_endpoint">$sparql_endpoint</a>.</p>
#end

                        <p>&nbsp;</p>
                        <p class="pull-right"><a href="#" > <i class="fa fa-arrow-up"></i></a></p>
                        <p class="text-muted credit">&copy; <a target="_blank" title="UA.PT Bioinformatics" href="http://bioinformatics.ua.pt/">University of Aveiro</a> 2013 - Support provided by <a href="http://bmd-software.com" target="_blank">BMD Software, LDA</a></p>
                    </div>
                </div>
            </div>
        </footer> 
</html>
